@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body {
    background-color: hsl(217, 54%, 11%);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    margin-top: 8rem;
}
.box {
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    height: 510px;
    border-radius: 15px;
    
.image {
    height: 250px;
    width: 250px;
    margin: 10px 0 30px 0;
    border-radius: 15px;

    .equilibrium {
        height: 250px;
        width: 250px;
        margin: 20px 0 0 25px;
        border-radius: 15px;
        transition: .5s ease;
        cursor: pointer;
    }
}
    
    h3 {
        color: white;
        margin: 1rem 0 0 2rem;
        cursor: pointer;
    }
    h3:hover {
        color: hsl(178, 100%, 50%);
        transition: .5s ease-in;
    }
    p {
        color: hsl(215, 51%, 70%);
        margin: 1rem 0 0 2rem;
        font-weight: 300;
        font-size: 16px;
    }

    .info {
        display: flex;
        justify-content: space-between;
        margin: 1rem 1.5rem 0 2rem;


        .eth {
            margin-right: 4em;
            color: hsl(178, 100%, 50%);
        }
        .days {
            color:hsl(215, 51%, 70%);
        }
    }
    .line {
        background-color: hsl(215, 51%, 70%);
        padding: 1px;
        opacity: 0.2;
        margin: 1.5rem 1.5rem 0 2rem;
    }
    .cardAvatar {
        display: flex;
        justify-content: flex-start;
        margin: 1rem 0 0 2rem;
        img {
            height: 35px;
        }

        p {
            margin: 0.5rem 2rem 0 1rem;
            font-size: 15px;
        }
        span {
            color: white;
        }
    }
}

@media only screen and (max-width: 1024px) {
    main {
        min-width: fit-content;
        max-height: fit-content;
        margin-top: 4rem;
    }
}